@import "base";

h1 {
  font-family: 'Karla', sans-serif;


}

.welcome {
  position:fixed;
  width:100%;
  height:10vh;
  background-color: $primary-color;
  z-index:1;

  h1{
    color:white;
    font-family: 'Karla', sans-serif;
    text-align:center;
    text-decoration: none;
    position:absolute;
    top:50%;
    transform: translate(-50%, -100%);
    left:50%;
  }

  a {
    text-decoration: none;
  }
}


.split {

  @media screen and (max-width: $minbreak){
  height: 50%;
  width: 100%;
  left:0;
  right:0;
  position: fixed;
}

  @media screen and (min-width: $maxbreak){
    height: 100%;
    width: 50%;
    top:0;
    position: fixed;
  }



}

/* Control the left side */
.software {

  @media screen and (max-width: $minbreak){
    top:0;
  }

  @media screen and (min-width: $maxbreak){
    left:0;
  }

  background-color: $softwareColor;
}



/* Control the right side */
.theater {
  @media screen and (max-width: $minbreak){
    bottom:0;
  }

  @media screen and (min-width: $maxbreak){
    right:0;
  }
  background-color: $theaterColor;

}

.centerItem {

  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -20%);


  .center {
    background-color: rgba(0,0,0,.6);
    z-index: 2;
    width: 20vh;
    height:20vh ;

    border-radius:500px;
    margin-left:auto;
    margin-right:auto;

  }


  h1 {
    text-align:center;

    color:white;
  }

}




